.App {
  text-align: center;
  min-height: 0vh;
  margin: 0;
  background-color: #87CEFA;
}
/* boat grid */
.boat{
  display: inline-grid;
  padding: 2vw;
  width: 400px;
 flex-flow: wrap;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
/* image grid */
img {
  padding: 2vw;
  width: 400px;
  height: 300px;
  background-size: cover;
}

  body {
    display: flex;
    flex-wrap: wrap;
    margin: 20;
    background-color: #87CEFA;
  }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  margin-left: 50px;
}

.App-header {
  background-color: blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
  margin-left: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
